{
    "default_prefix": ".",
    "bot_token": "",
    "bot_secret": "",
    "owner_ids": [
        170939974227591168
    ],
    "backend_port": 6969,
    "origin_url": "",
    "redirect_url": "",
    "signing_key": "",
    
    "discord_bots_token": "",
    "top_gg_token": "",
    "discord_extreme_list_token": "",
    "discord_boats_token": "",
    "botlist_space": "",
    "bots_for_discord_token": "",
    
    "twitch_client_id": "",
    "twitch_client_secret": "",
    
    "db_host": "",
    "db_port": "",
    "db_database": "",
    "db_user": "",
    "db_password": "",
    
    "lavalink_nodes": [
        {
            "host": "",
            "port": "",
            "password": ""
        }
    ]
}
