DISCORD_BOT_TOKEN=
DISCORD_BOT_ID=
DISCORD_BOT_SECRET=
ADMIN_DISCORD_ID=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

LAVALINK_HOST=
LAVALINK_PORT=
LAVALINK_PASSWORD=

